@model IEnumerable<RestoBook.Controllers.R>

@{
    ViewBag.Title = "Index";
}
Test

@*@Html.Partial("_SearchPartial")*@
@foreach (var restauant in Model)
{
    <div class="row">
        <div class="col-md-12">
            <div>@Html.DisplayFor(model => restauant.Name)</div>
            <div>@Html.DisplayFor(model => restauant.Ville)</div>
            @*<div>@Html.DisplayFor(model => restauant.VilleRestaurants.Ville)</div>*@
            </div>
        </div>


    }
